In [1]:
import os, inspect, sys
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt
import seaborn as sns
from pprint import pprint

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.externals import joblib 
from keras.models import load_model
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

import datetime as dt
from dateutil.relativedelta import relativedelta

import plotly.plotly as py
import plotly.graph_objs as go


CURRENT_DIR = os.path.dirname(inspect.getabsfile(inspect.currentframe()))
ROOT_DIR = os.path.dirname(CURRENT_DIR)
sys.path.insert(0, ROOT_DIR)

from reb.src.pyts import series_to_supervised

Using TensorFlow backend.

In [2]:
# monthly date range generator
def month_range(start_date, n_months):
    for m in range(n_months):
        yield start_date + relativedelta(months=+m)
        
# get all combinations of input iterable x
def get_combinations(x):
    rval = []
    for L in range(1, len(x)+1):
        for subset in itertools.combinations(x, L):
            rval.append(list(subset))
            
    return rval

In [3]:
# read data
ffname = os.path.join(ROOT_DIR, "reb", "data", "ext", "data_monthly_processed.csv")
df_original = pd.read_csv(ffname, parse_dates=["DATE"])
df_original.DATE = pd.to_datetime(df_original.DATE, format="%Y-%m")
df_original.head()

# Make a clean copy of data
df = df_original.copy() 

# Reindex data frame per the time stamps
df.set_index("DATE", inplace=True)
df.head()

,PAYEMS,AWHNONAG,CES9091000001,USGOVT,UNEMPLOY,LNS13023706,MVPHGFD027MNFRBDAL,MNFCTRIRSA,MORTGAGE30US,MORTGAGE15US,DGS10,INDPRO,CMRMTSPL,W875RX1
DATE,,,,,,,,,,,,,,
1992-01-01,108374,34.1,3137,18688,9283,11.9,2719.3,1.66,8.4,8.0,7.0,63.3372,757479.217,6840.9
1992-02-01,108317,34.1,3121,18689,9454,9.8,2738.8,1.65,8.8,8.4,7.3,63.7864,759384.431,6879.1
1992-03-01,108369,34.1,3121,18715,9460,9.5,2760.5,1.58,8.9,8.6,7.5,64.3199,762440.896,6884.7
1992-04-01,108526,34.3,3117,18739,9415,10.4,2764.0,1.57,8.9,8.5,7.5,64.8069,767521.889,6903.6
1992-05-01,108653,34.3,3119,18753,9744,10.3,2830.7,1.55,8.7,8.3,7.4,65.0202,760844.122,6941.7

In [4]:
# Rescale data
all_values = df.values.astype("float32")
scaler = MinMaxScaler(feature_range=(0, 1))
all_values_scaled = scaler.fit_transform(all_values)

# USRECM: NBER based Recession Indicators for the United States from the Peak through the Trough
# index_target = NA

# GDPC1: Real Gross Domestic Product
# index_target = NA

# W875RX1: Real personal income excluding current transfer receipts
# index_target = 13

# PAYEMS: All Employees: Total Nonfarm Payrolls
index_target = 0

# INDPRO: Industrial Production Index
# index_target = 11

# CMRMTSPL: Real Manufacturing and Trade Industries Sales
# index_target = 12

index_features = [8, 2]
index_features.sort()

In [5]:
# load scaler
ffname = os.path.join(ROOT_DIR, "reb", "data", "int", "monthly.scaler.save")
scaler = joblib.load(ffname)

In [6]:

# set model parameters
n_lags = 6
n_sequences = 6
n_units = 10
# load model
fname = 'f.' +'.'.join([str(elem) for elem in index_features]) + \
    f'.t.{index_target}.l.{n_lags}.s.{n_sequences}.u.{n_units}' + '.h5'
ffname = os.path.join(ROOT_DIR, "reb", "data", "int", fname)
model = load_model(ffname)

In [7]:
# rescale data
all_values = df.values.astype("float32")
all_values_scaled = scaler.fit_transform(all_values)
all_values_scaled.shape

(319, 14)

In [8]:
# get latest data
x_scaled = all_values_scaled[-n_lags:, index_features + [index_target]]
n_variables = x_scaled.shape[1]
# reshape x as per lstm input format
x_scaled = x_scaled.reshape((1, n_lags, n_variables))
all_values_scaled.shape

(319, 14)

In [9]:
# forecast
yhat_scaled = model.predict(x_scaled)
yhat_scaled.shape

(1, 6)

In [10]:
# invert scaling
temp = all_values_scaled[-n_sequences:, :]
n_allvars = temp.shape[1]
temp = temp.reshape((1, -1))
temp[:, index_target:n_sequences*n_allvars:n_allvars] = yhat_scaled.reshape((1, n_sequences))
temp = temp.reshape((-1, n_allvars))
yhat = scaler.inverse_transform(temp)[:, index_target]
yhat_scaled.shape

(1, 6)

In [11]:
# create forecast data frame
df_forecast = pd.DataFrame()
start_date = df.index[-1] 
mrange = month_range(start_date, n_sequences+1)
df_forecast["DATE"] = [d.strftime('%Y-%m-%d') for d in mrange]
df_forecast["VALUE"] = list(df.values[-1:, index_target]) + list(yhat)
df_forecast.set_index("DATE", inplace=True)
df_forecast.head(n_sequences)

                    VALUE
DATE
2018-07-01  149078.000000
2018-08-01  142197.843750
2018-09-01  141208.687500
2018-10-01  144338.921875
2018-11-01  143708.843750
2018-12-01  143680.703125

In [12]:
# store data as dict
data = {"current": [{"t": t, "x": x} for t, x in zip(list(df.index.astype(str).values),
                                     df.iloc[:, index_target].astype("float32"))],
        "predict": [{"t": t, "x": x} for t, x in zip(list(df_forecast.index.astype(str).values),
                                     df_forecast.VALUE.astype("float32"))]}
data

{'current': [{'t': '1992-01-01', 'x': 108374.0},
  {'t': '1992-02-01', 'x': 108317.0},
  {'t': '1992-03-01', 'x': 108369.0},
  {'t': '1992-04-01', 'x': 108526.0},
  {'t': '1992-05-01', 'x': 108653.0},
  {'t': '1992-06-01', 'x': 108718.0},
  {'t': '1992-07-01', 'x': 108792.0},
  {'t': '1992-08-01', 'x': 108927.0},
  {'t': '1992-09-01', 'x': 108959.0},
  {'t': '1992-10-01', 'x': 109145.0},
  {'t': '1992-11-01', 'x': 109277.0},
  {'t': '1992-12-01', 'x': 109494.0},
  {'t': '1993-01-01', 'x': 109804.0},
  {'t': '1993-02-01', 'x': 110051.0},
  {'t': '1993-03-01', 'x': 109997.0},
  {'t': '1993-04-01', 'x': 110304.0},
  {'t': '1993-05-01', 'x': 110573.0},
  {'t': '1993-06-01', 'x': 110749.0},
  {'t': '1993-07-01', 'x': 111055.0},
  {'t': '1993-08-01', 'x': 111210.0},
  {'t': '1993-09-01', 'x': 111455.0},
  {'t': '1993-10-01', 'x': 111741.0},
  {'t': '1993-11-01', 'x': 111991.0},
  {'t': '1993-12-01', 'x': 112314.0},
  {'t': '1994-01-01', 'x': 112590.0},
  {'t': '1994-02-01', 'x': 112788.0},
  {'t': '1994-03-01', 'x': 113249.0},
  {'t': '1994-04-01', 'x': 113596.0},
  {'t': '1994-05-01', 'x': 113929.0},
  {'t': '1994-06-01', 'x': 114248.0},
  {'t': '1994-07-01', 'x': 114618.0},
  {'t': '1994-08-01', 'x': 114900.0},
  {'t': '1994-09-01', 'x': 115260.0},
  {'t': '1994-10-01', 'x': 115469.0},
  {'t': '1994-11-01', 'x': 115876.0},
  {'t': '1994-12-01', 'x': 116168.0},
  {'t': '1995-01-01', 'x': 116495.0},
  {'t': '1995-02-01', 'x': 116693.0},
  {'t': '1995-03-01', 'x': 116912.0},
  {'t': '1995-04-01', 'x': 117074.0},
  {'t': '1995-05-01', 'x': 117057.0},
  {'t': '1995-06-01', 'x': 117297.0},
  {'t': '1995-07-01', 'x': 117389.0},
  {'t': '1995-08-01', 'x': 117641.0},
  {'t': '1995-09-01', 'x': 117893.0},
  {'t': '1995-10-01', 'x': 118045.0},
  {'t': '1995-11-01', 'x': 118191.0},
  {'t': '1995-12-01', 'x': 118323.0},
  {'t': '1996-01-01', 'x': 118310.0},
  {'t': '1996-02-01', 'x': 118735.0},
  {'t': '1996-03-01', 'x': 119000.0},
  {'t': '1996-04-01', 'x': 119165.0},
  {'t': '1996-05-01', 'x': 119491.0},
  {'t': '1996-06-01', 'x': 119772.0},
  {'t': '1996-07-01', 'x': 120023.0},
  {'t': '1996-08-01', 'x': 120208.0},
  {'t': '1996-09-01', 'x': 120421.0},
  {'t': '1996-10-01', 'x': 120682.0},
  {'t': '1996-11-01', 'x': 120977.0},
  {'t': '1996-12-01', 'x': 121148.0},
  {'t': '1997-01-01', 'x': 121379.0},
  {'t': '1997-02-01', 'x': 121687.0},
  {'t': '1997-03-01', 'x': 121999.0},
  {'t': '1997-04-01', 'x': 122291.0},
  {'t': '1997-05-01', 'x': 122554.0},
  {'t': '1997-06-01', 'x': 122818.0},
  {'t': '1997-07-01', 'x': 123121.0},
  {'t': '1997-08-01', 'x': 123099.0},
  {'t': '1997-09-01', 'x': 123598.0},
  {'t': '1997-10-01', 'x': 123942.0},
  {'t': '1997-11-01', 'x': 124241.0},
  {'t': '1997-12-01', 'x': 124559.0},
  {'t': '1998-01-01', 'x': 124831.0},
  {'t': '1998-02-01', 'x': 125029.0},
  {'t': '1998-03-01', 'x': 125174.0},
  {'t': '1998-04-01', 'x': 125454.0},
  {'t': '1998-05-01', 'x': 125856.0},
  {'t': '1998-06-01', 'x': 126079.0},
  {'t': '1998-07-01', 'x': 126209.0},
  {'t': '1998-08-01', 'x': 126549.0},
  {'t': '1998-09-01', 'x': 126767.0},
  {'t': '1998-10-01', 'x': 126968.0},
  {'t': '1998-11-01', 'x': 127241.0},
  {'t': '1998-12-01', 'x': 127608.0},
  {'t': '1999-01-01', 'x': 127725.0},
  {'t': '1999-02-01', 'x': 128135.0},
  {'t': '1999-03-01', 'x': 128242.0},
  {'t': '1999-04-01', 'x': 128614.0},
  {'t': '1999-05-01', 'x': 128825.0},
  {'t': '1999-06-01', 'x': 129089.0},
  {'t': '1999-07-01', 'x': 129417.0},
  {'t': '1999-08-01', 'x': 129571.0},
  {'t': '1999-09-01', 'x': 129796.0},
  {'t': '1999-10-01', 'x': 130190.0},
  {'t': '1999-11-01', 'x': 130479.0},
  {'t': '1999-12-01', 'x': 130789.0},
  {'t': '2000-01-01', 'x': 131007.0},
  {'t': '2000-02-01', 'x': 131138.0},
  {'t': '2000-03-01', 'x': 131605.0},
  {'t': '2000-04-01', 'x': 131898.0},
  {'t': '2000-05-01', 'x': 132117.0},
  {'t': '2000-06-01', 'x': 132081.0},
  {'t': '2000-07-01', 'x': 132254.0},
  {'t': '2000-08-01', 'x': 132239.0},
  {'t': '2000-09-01', 'x': 132383.0},
  {'t': '2000-10-01', 'x': 132368.0},
  {'t': '2000-11-01', 'x': 132590.0},
  {'t': '2000-12-01', 'x': 132727.0},
  {'t': '2001-01-01', 'x': 132702.0},
  {'t': '2001-02-01', 'x': 132776.0},
  {'t': '2001-03-01', 'x': 132748.0},
  {'t': '2001-04-01', 'x': 132469.0},
  {'t': '2001-05-01', 'x': 132428.0},
  {'t': '2001-06-01', 'x': 132307.0},
  {'t': '2001-07-01', 'x': 132199.0},
  {'t': '2001-08-01', 'x': 132053.0},
  {'t': '2001-09-01', 'x': 131803.0},
  {'t': '2001-10-01', 'x': 131475.0},
  {'t': '2001-11-01', 'x': 131178.0},
  {'t': '2001-12-01', 'x': 131001.0},
  {'t': '2002-01-01', 'x': 130852.0},
  {'t': '2002-02-01', 'x': 130724.0},
  {'t': '2002-03-01', 'x': 130707.0},
  {'t': '2002-04-01', 'x': 130624.0},
  {'t': '2002-05-01', 'x': 130641.0},
  {'t': '2002-06-01', 'x': 130692.0},
  {'t': '2002-07-01', 'x': 130615.0},
  {'t': '2002-08-01', 'x': 130608.0},
  {'t': '2002-09-01', 'x': 130541.0},
  {'t': '2002-10-01', 'x': 130654.0},
  {'t': '2002-11-01', 'x': 130660.0},
  {'t': '2002-12-01', 'x': 130490.0},
  {'t': '2003-01-01', 'x': 130597.0},
  {'t': '2003-02-01', 'x': 130451.0},
  {'t': '2003-03-01', 'x': 130243.0},
  {'t': '2003-04-01', 'x': 130194.0},
  {'t': '2003-05-01', 'x': 130205.0},
  {'t': '2003-06-01', 'x': 130198.0},
  {'t': '2003-07-01', 'x': 130217.0},
  {'t': '2003-08-01', 'x': 130171.0},
  {'t': '2003-09-01', 'x': 130281.0},
  {'t': '2003-10-01', 'x': 130486.0},
  {'t': '2003-11-01', 'x': 130489.0},
  {'t': '2003-12-01', 'x': 130610.0},
  {'t': '2004-01-01', 'x': 130777.0},
  {'t': '2004-02-01', 'x': 130835.0},
  {'t': '2004-03-01', 'x': 131163.0},
  {'t': '2004-04-01', 'x': 131417.0},
  {'t': '2004-05-01', 'x': 131714.0},
  {'t': '2004-06-01', 'x': 131796.0},
  {'t': '2004-07-01', 'x': 131841.0},
  {'t': '2004-08-01', 'x': 131957.0},
  {'t': '2004-09-01', 'x': 132114.0},
  {'t': '2004-10-01', 'x': 132462.0},
  {'t': '2004-11-01', 'x': 132525.0},
  {'t': '2004-12-01', 'x': 132651.0},
  {'t': '2005-01-01', 'x': 132798.0},
  {'t': '2005-02-01', 'x': 133042.0},
  {'t': '2005-03-01', 'x': 133180.0},
  {'t': '2005-04-01', 'x': 133538.0},
  {'t': '2005-05-01', 'x': 133710.0},
  {'t': '2005-06-01', 'x': 133957.0},
  {'t': '2005-07-01', 'x': 134328.0},
  {'t': '2005-08-01', 'x': 134524.0},
  {'t': '2005-09-01', 'x': 134590.0},
  {'t': '2005-10-01', 'x': 134676.0},
  {'t': '2005-11-01', 'x': 135013.0},
  {'t': '2005-12-01', 'x': 135168.0},
  {'t': '2006-01-01', 'x': 135450.0},
  {'t': '2006-02-01', 'x': 135762.0},
  {'t': '2006-03-01', 'x': 136059.0},
  {'t': '2006-04-01', 'x': 136227.0},
  {'t': '2006-05-01', 'x': 136258.0},
  {'t': '2006-06-01', 'x': 136337.0},
  {'t': '2006-07-01', 'x': 136543.0},
  {'t': '2006-08-01', 'x': 136722.0},
  {'t': '2006-09-01', 'x': 136870.0},
  {'t': '2006-10-01', 'x': 136882.0},
  {'t': '2006-11-01', 'x': 137090.0},
  {'t': '2006-12-01', 'x': 137263.0},
  {'t': '2007-01-01', 'x': 137497.0},
  {'t': '2007-02-01', 'x': 137582.0},
  {'t': '2007-03-01', 'x': 137796.0},
  {'t': '2007-04-01', 'x': 137855.0},
  {'t': '2007-05-01', 'x': 138008.0},
  {'t': '2007-06-01', 'x': 138085.0},
  {'t': '2007-07-01', 'x': 138055.0},
  {'t': '2007-08-01', 'x': 138027.0},
  {'t': '2007-09-01', 'x': 138123.0},
  {'t': '2007-10-01', 'x': 138201.0},
  {'t': '2007-11-01', 'x': 138307.0},
  {'t': '2007-12-01', 'x': 138411.0},
  {'t': '2008-01-01', 'x': 138419.0},
  {'t': '2008-02-01', 'x': 138338.0},
  {'t': '2008-03-01', 'x': 138283.0},
  {'t': '2008-04-01', 'x': 138054.0},
  {'t': '2008-05-01', 'x': 137870.0},
  {'t': '2008-06-01', 'x': 137716.0},
  {'t': '2008-07-01', 'x': 137503.0},
  {'t': '2008-08-01', 'x': 137226.0},
  {'t': '2008-09-01', 'x': 136783.0},
  {'t': '2008-10-01', 'x': 136308.0},
  {'t': '2008-11-01', 'x': 135549.0},
  {'t': '2008-12-01', 'x': 134842.0},
  {'t': '2009-01-01', 'x': 134055.0},
  {'t': '2009-02-01', 'x': 133351.0},
  {'t': '2009-03-01', 'x': 132549.0},
  {'t': '2009-04-01', 'x': 131845.0},
  {'t': '2009-05-01', 'x': 131491.0},
  {'t': '2009-06-01', 'x': 131022.0},
  {'t': '2009-07-01', 'x': 130680.0},
  {'t': '2009-08-01', 'x': 130484.0},
  {'t': '2009-09-01', 'x': 130255.0},
  {'t': '2009-10-01', 'x': 130046.0},
  {'t': '2009-11-01', 'x': 130058.0},
  {'t': '2009-12-01', 'x': 129781.0},
  {'t': '2010-01-01', 'x': 129799.0},
  {'t': '2010-02-01', 'x': 129726.0},
  {'t': '2010-03-01', 'x': 129919.0},
  {'t': '2010-04-01', 'x': 130140.0},
  {'t': '2010-05-01', 'x': 130662.0},
  {'t': '2010-06-01', 'x': 130522.0},
  {'t': '2010-07-01', 'x': 130444.0},
  {'t': '2010-08-01', 'x': 130428.0},
  {'t': '2010-09-01', 'x': 130365.0},
  {'t': '2010-10-01', 'x': 130632.0},
  {'t': '2010-11-01', 'x': 130761.0},
  {'t': '2010-12-01', 'x': 130834.0},
  {'t': '2011-01-01', 'x': 130878.0},
  {'t': '2011-02-01', 'x': 131060.0},
  {'t': '2011-03-01', 'x': 131314.0},
  {'t': '2011-04-01', 'x': 131637.0},
  {'t': '2011-05-01', 'x': 131718.0},
  {'t': '2011-06-01', 'x': 131952.0},
  {'t': '2011-07-01', 'x': 132024.0},
  {'t': '2011-08-01', 'x': 132136.0},
  {'t': '2011-09-01', 'x': 132369.0},
  {'t': '2011-10-01', 'x': 132578.0},
  {'t': '2011-11-01', 'x': 132723.0},
  {'t': '2011-12-01', 'x': 132924.0},
  {'t': '2012-01-01', 'x': 133272.0},
  {'t': '2012-02-01', 'x': 133505.0},
  {'t': '2012-03-01', 'x': 133769.0},
  {'t': '2012-04-01', 'x': 133841.0},
  {'t': '2012-05-01', 'x': 133958.0},
  {'t': '2012-06-01', 'x': 134026.0},
  {'t': '2012-07-01', 'x': 134182.0},
  {'t': '2012-08-01', 'x': 134355.0},
  {'t': '2012-09-01', 'x': 134549.0},
  {'t': '2012-10-01', 'x': 134702.0},
  {'t': '2012-11-01', 'x': 134832.0},
  {'t': '2012-12-01', 'x': 135075.0},
  {'t': '2013-01-01', 'x': 135282.0},
  {'t': '2013-02-01', 'x': 135547.0},
  {'t': '2013-03-01', 'x': 135703.0},
  {'t': '2013-04-01', 'x': 135882.0},
  {'t': '2013-05-01', 'x': 136122.0},
  {'t': '2013-06-01', 'x': 136280.0},
  {'t': '2013-07-01', 'x': 136391.0},
  {'t': '2013-08-01', 'x': 136651.0},
  {'t': '2013-09-01', 'x': 136852.0},
  {'t': '2013-10-01', 'x': 137062.0},
  {'t': '2013-11-01', 'x': 137283.0},
  {'t': '2013-12-01', 'x': 137376.0},
  {'t': '2014-01-01', 'x': 137550.0},
  {'t': '2014-02-01', 'x': 137732.0},
  {'t': '2014-03-01', 'x': 137993.0},
  {'t': '2014-04-01', 'x': 138304.0},
  {'t': '2014-05-01', 'x': 138556.0},
  {'t': '2014-06-01', 'x': 138862.0},
  {'t': '2014-07-01', 'x': 139058.0},
  {'t': '2014-08-01', 'x': 139284.0},
  {'t': '2014-09-01', 'x': 139568.0},
  {'t': '2014-10-01', 'x': 139823.0},
  {'t': '2014-11-01', 'x': 140130.0},
  {'t': '2014-12-01', 'x': 140381.0},
  {'t': '2015-01-01', 'x': 140592.0},
  {'t': '2015-02-01', 'x': 140859.0},
  {'t': '2015-03-01', 'x': 140937.0},
  {'t': '2015-04-01', 'x': 141219.0},
  {'t': '2015-05-01', 'x': 141545.0},
  {'t': '2015-06-01', 'x': 141736.0},
  {'t': '2015-07-01', 'x': 141992.0},
  {'t': '2015-08-01', 'x': 142156.0},
  {'t': '2015-09-01', 'x': 142244.0},
  {'t': '2015-10-01', 'x': 142595.0},
  {'t': '2015-11-01', 'x': 142859.0},
  {'t': '2015-12-01', 'x': 143093.0},
  {'t': '2016-01-01', 'x': 143196.0},
  {'t': '2016-02-01', 'x': 143453.0},
  {'t': '2016-03-01', 'x': 143688.0},
  {'t': '2016-04-01', 'x': 143862.0},
  {'t': '2016-05-01', 'x': 143896.0},
  {'t': '2016-06-01', 'x': 144181.0},
  {'t': '2016-07-01', 'x': 144506.0},
  {'t': '2016-08-01', 'x': 144681.0},
  {'t': '2016-09-01', 'x': 144945.0},
  {'t': '2016-10-01', 'x': 145085.0},
  {'t': '2016-11-01', 'x': 145257.0},
  {'t': '2016-12-01', 'x': 145437.0},
  {'t': '2017-01-01', 'x': 145696.0},
  {'t': '2017-02-01', 'x': 145896.0},
  {'t': '2017-03-01', 'x': 145969.0},
  {'t': '2017-04-01', 'x': 146144.0},
  {'t': '2017-05-01', 'x': 146299.0},
  {'t': '2017-06-01', 'x': 146538.0},
  {'t': '2017-07-01', 'x': 146728.0},
  {'t': '2017-08-01', 'x': 146949.0},
  {'t': '2017-09-01', 'x': 146963.0},
  {'t': '2017-10-01', 'x': 147234.0},
  {'t': '2017-11-01', 'x': 147450.0},
  {'t': '2017-12-01', 'x': 147625.0},
  {'t': '2018-01-01', 'x': 147801.0},
  {'t': '2018-02-01', 'x': 148125.0},
  {'t': '2018-03-01', 'x': 148280.0},
  {'t': '2018-04-01', 'x': 148455.0},
  {'t': '2018-05-01', 'x': 148723.0},
  {'t': '2018-06-01', 'x': 148931.0},
  {'t': '2018-07-01', 'x': 149078.0}],
 'predict': [{'t': '2018-07-01', 'x': 149078.0},
  {'t': '2018-08-01', 'x': 142197.84375},
  {'t': '2018-09-01', 'x': 141208.6875},
  {'t': '2018-10-01', 'x': 144338.921875},
  {'t': '2018-11-01', 'x': 143708.84375},
  {'t': '2018-12-01', 'x': 143680.703125},
  {'t': '2019-01-01', 'x': 143405.125}]}